body{
    background-color: hsl(204, 43%, 93%);
    width: 680px;
    margin: 50px 0px 0px 335px;
}
.grid-container{
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 210px 250px;
    font-family: 'Karla', sans-serif;
    border-radius: 8px;   
}
.conteudo{
    grid-column: span 2;
    color: hsl(218, 22%, 67%);
    width: 550px;
    height: 160px;
    margin: 30px;
    font-weight: 400;
}
.conteudo > h1{
    color: hsl(179, 62%, 43%);
}
.conteudo .day{
    color: hsl(71, 73%, 54%);
}
.subscription{
    background-color: hsl(179, 62%, 43%);
    margin-top: 15px;
    color: hsl(204, 43%, 93%);
    border-radius: 0px 0px 0px 8px;
}
.subscription-content{
    margin: 0px 10px;
}
.title{
    margin-bottom: 10px;
}
.dollar{
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}
.month{
    color: rgb(186, 190, 196);
    font-size: 16px;
    margin-left: 8px;
}
.subscription-content p{
    margin-bottom: 15px;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    border-radius: 5px;
    border: none;
}
.why-content{
    background-color: hsla(179, 62%, 43%, 0.80);
    color: hsl(204, 43%, 93%);
    margin-top: 15px;
    border-radius: 0px 0px 8px 0px;
}
.us{
    margin: 10px 25px 0px 30px;
}
@media screen and (max-width: 375px){
    body{
        width: 375px;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .conteudo{
        width: 300px;
        height: 250px;
    }
    .conteudo > p{
        width: 250px;
    }
    .attribution{
        width: 375px;
    }
}
