body{
    background-color: hsl(204, 43%, 93%);
}
.fill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.grid-container{
    background-color: white;
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 210px 250px;
    font-family: 'Karla', sans-serif;
    border-radius: 8px;
}
.conteudo{
    grid-column: span 2;
    color: hsl(218, 22%, 67%);
    width: 550px;
    margin: 25px;
    font-weight: 400;
}
.conteudo > h1{
    color: hsl(179, 62%, 43%);
}
.conteudo .day{
    color: hsl(71, 73%, 54%);
}
.subscription{
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    border-radius: 0px 0px 0px 8px;
}
.subscription-content{
    margin: 0px 25px;
}
.title{
    margin-bottom: 18px;
}
.dollar{
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
}
.month{
    color: rgb(186, 190, 196);
    font-size: 16px;
    margin-left: 8px;
}
.subscription-content p{
    margin-bottom: 15px;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    border-radius: 5px;
    border: none;
}
.why-content{
    background-color: hsla(179, 62%, 43%, 0.80);
    color: hsl(204, 43%, 93%);
    border-radius: 0px 0px 8px 0px;
}
.us{
    margin: 10px 25px 0px 30px;
}
@media screen and (max-width: 420px){
    body{
        width: 370px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 420px;
        grid-template-rows: 300px 300px 300px;
        border-radius: 10px;
    }
    .conteudo{
       width: 370px;
       text-align: justify;
    }
    .why-content{
        grid-area: 3;
        border-radius: 0px 0px 8px 8px;
    }
}
